 
  
  .swiper {
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
     
    /* Center slide text vertically */
    display: flex;
   padding-right: 20px;
   padding-left: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: 30px;
    margin-right: 30px;
   
  }
  