/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.25em;
}

