/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.25em;
}

.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    #0488b4,
  #66e3e8
  ); /* Change colors as needed */
}
