/* Google_Font */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Bruno+Ace+SC&family=Bungee&family=EB+Garamond:wght@400;500;600;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Monoton&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=PT+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Titillium+Web:wght@200;400;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Jost:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.bg-gradient {
  background-color: #f3f1f1b8;
  background-image: radial-gradient(at 83% 8%, #fdfed5 0px, transparent 50%),
    radial-gradient(at 31% 23%, #f89f8b3e 0px, transparent 50%),
    radial-gradient(at 60% 90%, #08ae4801 0px, transparent 50%),
    radial-gradient(at 60% 90%, #fdfed5a5 0px, transparent 50%);
  background-size: contain;
}

/* 
.bg-gradient {
  background-color:#f0f0f0;
  background-image:
  radial-gradient(at 83% 8%, #fdfed5 0px, transparent 50%),
  radial-gradient(at 11% 23%, #f89f8b 0px, transparent 50%),
  radial-gradient(at 60% 90%, rgba(178, 228, 98, 0.27) 0px, transparent 50%);
} */

.home-container {
  @apply max-w-screen-xl mx-auto;
}

.bgGradient {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

/* .bgGradient {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
} */

.gradient-custom {
  background: #97add8;
  background-image: radial-gradient(
      at 96% 42%,
      hsl(219, 73%, 86%) 0px,
      transparent 50%
    ),
    radial-gradient(at 95% 40%, hsl(90, 95%, 53%) 0px, transparent 50%),
    radial-gradient(at 7% 63%, hsl(141, 63%, 56%) 0px, transparent 50%),
    radial-gradient(at 11% 44%, hsl(215, 20%, 71%) 0px, transparent 50%),
    radial-gradient(at 44% 18%, hsl(156, 82%, 40%) 0px, transparent 50%);
}
.gradient-custom {
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
}

.g1 {
  background: #003972;
  background: -moz-linear-gradient(top, #003972 0%, #001322 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #003972),
    color-stop(100%, #001322)
  );
  background: -webkit-linear-gradient(top, #003972 0%, #001322 100%);
  background: -o-linear-gradient(top, #003972 0%, #001322 100%);
  background: -ms-linear-gradient(top, #003972 0%, #001322 100%);
  background: linear-gradient(to bottom, #003972 0%, #001322 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003972', endColorstr='#001322',GradientType=0 );
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* Apply animation to open answers */
.answer.open {
  max-height: 1000px; /* Adjust as needed */
  transition: max-height 0.3s ease-in-out;
}

/* default banner */
.css-selector {
  opacity: 1;

  /* background-color: #ffd3cf;
  background-image: linear-gradient(105deg, #ffd3cf 0%, #d3ffec 30%, #fdecd6 59%, #d3ffec 100%); */

  /* background-image: linear-gradient(-20deg, #e5d4fe 0%, #fdfed5 100%); */

  background-image: linear-gradient(-20deg, #08ae480f 0%, #fdfed5 70%);
}

/* .mainBg {
  background-color: #101034;

  background-image: linear-gradient(
      #ffffff 0.2px,
      transparent 0.6px
    ),
    linear-gradient(
      to right,
      #ffffff 0.2px,
      #e5e5f7 0.6px
    );
  background-size: 30px 30px;
} */

.bgCoursePage {
  opacity: 1;

  /* background-color: #ffd3cf;
  background-image: linear-gradient(105deg, #ffd3cf 0%, #d3ffec 30%, #fdecd6 59%, #d3ffec 100%); */

  background-image: linear-gradient(-20deg, #e5d4fe 0%, #f4f5b5 100%);
}

/* .testBgForMyCourse {
  background-color: hsla(222, 47%, 11%, 1);
  background-image: radial-gradient(
    circle at 70% 44%,
    hsla(189, 100%, 56%, 0.3) 100px,
    transparent 40%
  );
  background-attachment: fixed; 

} */

.testBgForMyCourse {
  background-color: hsla(222, 47%, 11%, 1);
  background-image: radial-gradient(
    circle at 50% 190%,
    hsla(189, 100%, 56%, 0.3) 100px,
    transparent 70%
  );
  background-attachment: fixed;
}

.grBg {
  background: #0fa6e9;
  background: linear-gradient(to right, #0fa6e9 5%, #38cfd2 68%);
}

--/* Width of the scrollbar */
/* index.css or your global CSS file */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track (the area where the scrollbar is) */
::-webkit-scrollbar-track {
  background: (to right, #181d22 5%, #6ddddd 68%);
  border-radius: 3px; /* Rounded corners for the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #87a9b8 5%, #070707 68%);
  border-radius: 3px; /* Rounded corners for the handle */
}

.custom-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 
.boxShadow { */
/* box-shadow: 0px 0px 4px 1px #1bbf72a1; */

/* box-shadow: 0px 0px 10px 0px #000000a1; */
/* } */
