.scrollbarForC8wittStu {
    /* Width of the scrollbar */
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    /* Track (the area where the scrollbar is) */
    &::-webkit-scrollbar-track {
      background: linear-gradient(to right, #181d22 5%, #173636 68%);
      border-radius: 3px; /* Rounded corners for the track */
    }
  
    /* Handle (the draggable part of the scrollbar) */
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(to right, #07709c 5%, #173636 68%);
      border-radius: 3px; /* Rounded corners for the handle */
    }
  }